*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    /* border: 1px solid red; */
}

nav li{
    transition: all .5s ease;
}
nav li:hover{
    background: #94c0f5;
    color: #fff;
    transition: .3s ease;
}
.navbg {
    background: #282b2c !important;
}
